
h2{
    display: flex;
    justify-content: center;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th{
    text-align: left;
    background-color: white;
    
}
th, td{
    border: 1px solid black;
}
td{
margin: 10px;
}