

<h2>Customers</h2>
<table *ngIf="customers.length>0" border="1">
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>City</th>
            <th>Balance</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cust of customers">
            <td>{{cust.firstName}}</td>
             <td>{{cust.lastName}}</td>
              <td>{{cust.email}}</td>
               <td>{{cust.city}}</td>
                <td>{{cust.balance}}</td>
                <td><i class="fa fa-trash" style="cursor:pointer; color: red;" (click)="deletecustomer(cust.id)"></i> <i class="fa fa-edit" style="cursor:pointer; color:rgb(10, 212, 253);">
        </i></td>
        </tr>
    </tbody>
</table>
<p *ngIf="customers.length === 0">No customers available.</p>